config_diagnostics = 1
openssl_conf = openssl_init

.include /home/jrodriguez/FIPS/92/o3/src-git/INSTALL/fipsmodule.cnf

[openssl_init]
providers = provider_sect

[provider_sect]
fips = fips_sect
base = base_sect

[base_sect]
activate = 1
